<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    verbose="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    convertErrorsToExceptions="true"
    stopOnFailure="false"
    syntaxCheck="false"
	bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="StatusWolf Tests">
            <directory>./tests/StatusWolf/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>
