#adhoc-container {
    width: 100%;
    height: 100%;
}

#adhoc-menu-options{
    min-width: 150px;
}

#load-search-menu-options {
    min-width: 500px;
}

#saved-search-list-popup {
    margin-bottom: 15px;
    max-height: 500px;
    overflow: hidden;
}

#my-searches-box, #public-searches-box {
    display: inline-block;
    vertical-align: top;
}

#my-searches-list, #public-searches-list {
    font-size: .75em;
    line-height: 2em;
    max-height: 450px;
    min-width: 300px;
    overflow: auto;
    vertical-align: top;
}

#saved-search-list-popup table {
    margin-right: 20px;
    border-spacing: 0;
}

#saved-search-list-popup table tr.search-item:hover {
    background-color: rgba(205, 205, 205, 0.10);
    cursor: pointer;
}

#saved-search-list-popup table tr th {
    font-size: 1em;
    padding: 5px;
}

#saved-search-list-popup table tr td {
    padding: 3px 5px;
}

#save-query-form {
    margin-bottom: 35px;
}

#save-query-info {
    font-size: 0.75em;
    max-width: 800px;
    margin: 0 15px 20px 25px;
    color: rgba(205, 205, 205, 0.75);
}

#save-query-info li {
    margin-bottom: 10px;
    list-style: none;
}

#saved-searches-options {
    min-width: 350px;
}

#lerp-info-popup {
    max-width: 800px;
}

.widget-title > input {
    top: 5px;
}

/*
 * ========================================
 * ad-hoc widget is bigger than the default
 * ========================================
 */

/*.widget-container {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/

/*#graph-search-general {*/
    /*position: relative;*/
/*}*/

/*#legend-container {*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*height: 100px;*/
    /*overflow: auto;*/
    /*font-size: .8em;*/
    /*line-height: 1.5em;*/
    /*color: rgba(205, 205, 205, .75);*/
    /*background-color: rgba(51, 51, 51, 0.25);*/
    /*border-top: 1px solid rgb(51, 51, 51);*/
    /*padding: 10px 0 0 0;*/
    /*margin-top: 15px;*/
/*}*/

/*#legend {*/
    /*position: relative;*/
    /*top: 0;*/
    /*width: 95%;*/
    /*margin: 0 auto;*/
/*}*/

/*#legend > span {*/
    /*display: block;*/
/*}*/

/*input[name="search-title-input"] {*/
    /*width: 60%;*/
    /*margin: 8px 0 2px 0;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
/*}*/

/*#search-title {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
/*}*/

/*.graph-title h1 {*/
    /*font-size: 5em;*/
/*}*/

/*.menu-label {*/
    /*display: inline-block;*/
/*}*/

/*.widget-main {*/
    /*top: 35px;*/
/*}*/

/*.bowlG {*/
    /*padding-top: 25%;*/
/*}*/

/*@-moz-document url-prefix() {*/
    /*#date-span-inputs {*/
        /*position: absolute;*/
        /*top: 0;*/
        /*width: 100%;*/
        /*display: inline-block;*/
    /*}*/
    /*.widget-footer-btn {*/
        /*display: inline-block;*/
    /*}*/
    /*#fullscreen {*/
        /*position: absolute;*/
        /*top: 0;*/
        /*right: 0;*/
    /*}*/
    /*.widget-footer > .glue1 {*/
        /*display: inline-block;*/
    /*}*/
/*}*/
