.ad-hoc-form-item {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: box;
    box-orient: horizontal;
    height: 100%;
    margin-right: 15px;
}

.ad-hoc-form-item h4 {
    font-size: .75em;
}

.ad-hoc-form-row {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    display: box;
    box-orient: horizontal;
    box-align: center;
    margin: 15px 0;
    width: 100%;
    /*min-width: 1100px;*/
}

.ad-hoc-menu-btn {
    border: 1px groove rgba(234, 234, 234, 0.1);
}

.ad-hoc-menu-btn:hover, .ad-hoc-menu-btn.hover {
    cursor: pointer;
    background-color: rgb(37, 37, 37);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

.ad-hoc-button {
    display: inline-block;
    font-size: .8em;
    line-height: 1.5em;
    height: 100%;
    padding: 2px 10px;
    min-width: 110px;
    background-color: rgb(51, 51, 51);
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 2px;
    border: 1px groove rgba(234, 234, 234, 0.1);
}

.ad-hoc-button:hover {
    cursor: pointer;
    background-color: rgb(37, 37, 37);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

.ad-hoc-button span:first-child {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

.ad-hoc-button-label {
    padding-right: 5px;
    -webkit-box-flex: 1;
    box-flex: 1;
    display: inline-block;
}

.section-off {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
    -moz-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
    transition: visibility 0s linear 0.25s, opacity 0.25s linear;
}

.section-on {
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0s linear, opacity 0.25s linear;
    -moz-transition: visibility 0s linear, opacity 0.25s linear;
    transition: visibility 0s linear, opacity 0.25s linear;
}

.metric-line, .metric-input {
    -webkit-box-flex: 1;
    box-flex: 1;
}

.metric-input-textbox {
    -webkit-box-flex: 1;
    box-flex: 1;
}

.metric-input-textbox input {
    width: 99%;
}

.autocomplete-suggestion {
    overflow: hidden;
}

.autocomplete-suggestion {
    margin-bottom: 1px;
    font-size: .8em;
    line-height: 1.5em;
    padding-left: 8px;
}

.autocomplete-suggestion:hover {
    cursor: pointer;
    background-color: rgb(64, 64, 64);
    color: rgba(205, 205, 205, 0.8);
}

.autocomplete-selected {
    background-color: rgb(64, 64, 64);
    color: rgba(205, 205, 205, 0.8);
}

#ad-hoc-search-form {
    padding-left: 35px;
}

#active-aggregation-type, #active-downsample-type {
    display: inline-block;
    min-width: 110px;
}

#active-downsample-interval {
    display: inline-block;
    min-width: 65px;
}

#ad-hoc-dates, #ad-hoc-time-span {
    position: absolute;
    top: 9px;
    margin-left: 25px;
    -webkit-box-flex: 4;
    box-flex: 4;
    -webkit-box-pack: start;
    box-pack: start;
}

#ad-hoc-edit, #query-cancel {
    display: inline-block;
}

#auto-update {
    -webkit-box-pack: start;
    box-pack: start;
    margin-top: 4px;
    margin-right: 10px;
    display: inline-block;
}

.widget-title-dropdown {
    display: inline-block;
    height: 100%;
}

.widget-title-dropdown span {
    display: inline-block;
}

.widget-title-dropdown li {
    font-size: 0.8em;
}

#datasource-menu {
    position: absolute;
    top: 0;
    right: 0;
}

#date-span-toggle {
    margin-top: 4px;
    display: inline-block;
}

#ad-hoc-time-span .ad-hoc-button {
    margin-top: 4px;
}

#downsample-interval-button {
    min-width: 80px;
}

#row1 {
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
}

#start-time, #end-time {
    -webkit-box-flex: 2;
    box-flex: 2;
    display: inline;
}

#metric-search-table {
    padding-left: 0;
    width: 99%;
}

#history-toggle {
    margin-top: 4px;
    margin-right: 30px;
    display: inline-block;
}

#action-buttons {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-box-pack: end;
    box-pack: end;
    margin-right: 30px;
}

#go-button {
    background-color: rgba(40, 55, 40, 0.95);
    position: absolute;
    bottom: 0;
    right: 0;
}

#go-button:hover {
    background-color: rgba(40, 55, 40, 0.5);
}

#save-query-form {
    margin-bottom: 35px;
}

#save-query-info {
    font-size: 0.75em;
    max-width: 800px;
    margin: 0 15px 20px 25px;
    color: rgba(205, 205, 205, 0.75);
}

#save-query-info li {
    margin-bottom: 10px;
    list-style: none;
}

#saved-searches-options {
    min-width: 350px;
}

#lerp-info-popup {
    max-width: 800px;
}

/*
 * ========================================
 * ad-hoc widget is bigger than the default
 * ========================================
 */

.widget-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#graph-search-general {
    position: relative;
}

#graph-legend {
    position: absolute;
    bottom: 0;
    height: 70px;
    overflow: auto;
    font-size: .8em;
    line-height: 1.2em;
    color: rgba(205, 205, 205, .75);
    background-color: rgba(51, 51, 51, 0.25);
    border-top: 1px solid rgb(51, 51, 51);
    padding: 0;
    margin-top: 15px;
}

#legend {
    position: relative;
    top: 0;
    width: 95%;
    margin: 0 auto;
}

#legend > span {
    display: block;
}

input[name="search-title-input"] {
    width: 60%;
    margin: 8px 0 2px 0;
    position: absolute;
    top: 0;
    left: 0;
}

#search-title {
    position: absolute;
    top: 0;
    left: 0;
}

.graph-title h1 {
    font-size: 5em;
}

.menu-label {
    display: inline-block;
}

@-moz-document url-prefix() {
    #date-span-inputs {
        position: absolute;
        top: 0;
        width: 100%;
        display: inline-block;
    }
    .widget-footer-btn {
        display: inline-block;
    }
    #fullscreen {
        position: absolute;
        top: 0;
        right: 0;
    }
    .widget-footer > .glue1 {
        display: inline-block;
    }
}
