
/*
 * ============================
 * login widget style overrides
 * ============================
 */

.widget-container {
    width: 500px;
    height: 40%;
}

.login-logo {
    width: 225px;
    height: 100%;
    display: inline-block;
    background: url('../img/error.png') no-repeat;
    background-size: 150px;
    background-position: center;
}

.login-form {
    display: inline-block;
    position: absolute;
    bottom: 35%;
    right: 10%;
}

#login-container {
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

#login-submit {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: -1px 0 0 0 rgba(5, 5, 5, 0.25), inset 1px 0 0 0 rgba(5, 5, 5, 0.25);
    background-color: rgb(40, 55, 40);
}

#login-submit:hover {
    background-color: rgb(20, 30, 20);
}
