#user-menu {
    position: absolute;
    top: 0;
    right: 0;
}

#user-menu-options {
    min-width: 85px;
    margin-top: 5px;
}

#user-menu-options li span {
    text-align: right;
    margin-right: 8px;
}
