.brand {
    display: inline-block;
}

.version {
    display: inline-block;
}

.version p {
    display: inline-block;
    margin: 2px 0 5px 5px;
    font-size: 0.65em;
    color: rgba(205, 205, 205, 0.5);
}

.menu-arrow {
    font-size: 0.5em;
}

#nav-menu {
    font-size: 1em;
    line-height: 1.25em;
    position: relative;
    top: 0;
    left: 0;
}

#nav-menu-content {
    font-size: .8em;
    line-height: 1.9em;
    margin-left: 10px;
}

#user-menu {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 30px;
}

.dashboard-columns {
    display: inline-block;
    position: absolute;
    top: 0;
    text-align: center;
    font-weight: bold;
}

#user-menu-options {
    min-width: 85px;
    margin-top: 5px;
    margin-right: 20px;
}

#user-menu-options li span {
    text-align: right;
}
