.push-button {
    display: inline-block;
    margin: 0;
    padding: 2px;
    height: 100%;
    line-height: 1.5em;
    font-weight: normal;
    color: rgba(205, 205, 205, 0.6);
    background-color: rgb(51, 51, 51);
    border: 1px groove rgba(234, 234, 234, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.push-button:hover, .pushed {
    color: rgba(205, 205, 205, 0.8);
    background-color: rgb(37, 37, 37);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

.push-button label span {
    padding: 0 10px 0 5px;
    text-align: center;
    font-weight: normal;
    display: inline-block;
    cursor: pointer;
}

.push-button span.iconic {
    height: 16px;
    width: 16px;
    padding: 0;
    margin-left: 10px;
    font-size: 1.25em;
    vertical-align: top;
}

.push-button input {
    position: absolute;
    top: -20px;
    display: none;
}