@charset "utf-8";

/*
 * ====================
 * HTML Tag Definitions
 * ====================
 */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(59, 59, 59);
    background-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(234, 234, 234, 0.75);
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(205, 205, 205, 0.75);
    margin: 5px 0;
}

/*
 * =======================
 * Basic class definitions
 * =======================
 */

.container {
    width: 90%;
    height: 99%;
    margin: 40px auto;
}

/*
 * ==================
 * Top navigation bar
 * ==================
 */

.navbar {
    background-color: rgb(24, 24, 24);
    border-bottom: 1px solid rgba(234, 234, 234, 0.25);
    height: 25px;
    width: 99%;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar h4 {
    margin-top: 2px;
}

.brand {
    display: inline-block;
}

.user-menu {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    margin-right: 20px;
}

.menu-label {
    margin-top: 4px;
    padding: 0 5px 0 5px;
    font-size: .8em;
    line-height: 2em;
}

.menu-btn {
    height: 100%;
    padding: 0 10px;
    font-size: .8em;
    line-height: 1.9em;
    border-right: 1px groove rgba(234, 234, 234, 0.1);
    border-left: 1px groove rgba(234, 234, 234, 0.1);
    box-shadow: inset -1px 0 0 rgba(5, 5, 5, 0.25);
}

.menu-btn:hover, .menu-btn.hover {
    cursor: pointer;
    background-color: rgb(37, 37, 37);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

/*
 *
 * Dropdown menu styles
 *
 */

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    list-style: none;
    color: rgba(205, 205, 205, 0.6);
    background-color: rgb(85, 85, 85);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
    border-radius: 3px;
    border-top-left-radius: 0;
}

.dropdown-menu li {
    width: 100%;
    margin-bottom: 1px;
}

.dropdown-menu li span {
    margin-left: 8px;
}

.dropdown-menu li:hover {
    background-color: rgb(64, 64, 64);
    color: rgba(205, 205, 205, 0.8);
    border-bottom: 1px solid rgba(80, 80, 80, 0.35);
    box-shadow: 0 0 1px 1px rgba(40, 40, 40, .5);
}

.open > .dropdown-menu {
    display: block;
}

.menu-left {
    right: 0;
    left: auto;
    border-radius: 3px;
    border-top-right-radius: 0;
    text-align: right;
}

.dropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(0, 0, 0, 0.5);
    position: absolute;
    top: -7px;
    left: 7px
}

.dropdown-menu:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgb(85, 85, 85);
    position: absolute;
    top: -6px;
    left: 8px
}

.menu-left:before {
    right: 6px;
    left: auto;
}

.menu-left:after {
    right: 7px;
    left: auto;
}

/*
 * ==========================
 * Default styles for widgets
 * ==========================
 */

.widget-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid rgba(234, 234, 234, .75);
}

.widget {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    color: rgba(205, 205, 205, .6);
    height: 100%;
    width: 99.9%;
}

.widget-front, .widget-back {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(24, 24, 24);
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.widget-front {
    z-index: 2;
}

.widget-title {
    border-bottom: 1px solid rgba(205, 205, 205, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    border-top-right-radius: 3px;
    box-shadow: 0 1px 0 rgb(5, 5, 5);
    height: 35px;
}

.widget-title h4 {
    margin: 0 10px;
    vertical-align: bottom;
    font-size: .8em;
    line-height: 3em;
    height: 100%;
}

.widget-footer {
    border-top: 1px solid rgba(205, 205, 205, 0.1);
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 -1px 0 rgb(5, 5, 5);
    height: 25px;
}

.widget-footer-btn {
    height: 100%;
    padding: 0 10px;
    font-size: .8em;
    line-height: 1.9em;
    border-right: 1px groove rgba(234, 234, 234, 0.1);
    border-left: 1px groove rgba(234, 234, 234, 0.1);
    box-shadow: inset -1px 0 0 rgba(5, 5, 5, 0.25);
}

.widget-footer-btn:hover, .widget-footer-btn.hover {
    cursor: pointer;
    background-color: rgb(37, 37, 37);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

.widget-title, .widget-footer {
    background-color: rgb(40, 40, 40);
    width: 100%;
}

.widget-title-head {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.widget-main {
    width: 100%;
    height: 82%;
    position: absolute;
    left: 0;
    top: 35px;
    padding: 0;
}

.widget-back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0.8;
}

/*
 *
 * login widget style overrides
 *
 */

.widget-container {
    width: 500px;
    height: 40%;
    margin: 20% auto auto auto;
}

.login-logo {
    width: 225px;
    height: 100%;
    display: inline-block;
    background: url('../img/error.png') no-repeat;
    background-size: 150px;
    background-position: center;
}

.login-form {
    display: inline-block;
    position: absolute;
    bottom: 35%;
    right: 10%;
}

#login-submit {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: -1px 0 0 0 rgba(5, 5, 5, 0.25), inset 1px 0 0 0 rgba(5, 5, 5, 0.25);
    background-color: rgb(40, 55, 40);
}

#login-submit:hover {
    background-color: rgb(20, 30, 20);
}

/*
 * ===============
 * Iconic web font
 * ===============
 */

@font-face {
    font-family: 'IconicStroke';
    src: url('../font/Iconic/iconic_stroke.otf');
    font-weight: normal;
    font-style: normal;
}

.iconic {
    display: inline-block;
    font-family: 'IconicStroke';
}

.iconic-user:before {
    content: '\e062';
}
