@charset "utf-8";

/*
 * ====================
 * HTML Tag Definitions
 * ====================
 */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(59, 59, 59);
    background-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(234, 234, 234, 0.75);
}

a {
    text-decoration: none;
    color: rgba(205, 205, 205, 0.75);
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(205, 205, 205, 0.75);
    margin: 5px 0;
}

ul, ol {
    padding: 0;
}

/*
 * =======================
 * Basic class definitions
 * =======================
 */

.button {
    padding: 5px 8px;
    border-right: 1px groove rgba(234, 234, 234, 0.1);
    border-left: 1px groove rgba(234, 234, 234, 0.1);
    box-shadow: inset -1px 0 0 rgba(5, 5, 5, 0.25);
}

.container {
    width: 95%;
    height: 90%;
    margin: 40px auto 20px auto;
    display: -webkit-box;
    display: box;
}

.rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-90r {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-tansform: rotate(180deg);
    transform: rotate(180deg);
}

.flexy {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: box;
    box-orient: horizontal;
}

.font-reset {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(205, 205, 205, 0.6);
}

.glue1 {
    -webkit-box-flex: 1;
    box-flex: 1;
}

.glue2 {
    -webkit-box-flex: 2;
    box-flex: 2;
}
.glue3 {
    -webkit-box-flex: 3;
    box-flex: 3;
}

.glue4 {
    -webkit-box-flex: 4;
    box-flex: 4;
}

.glue5 {
    -webkit-box-flex: 5;
    box-flex: 5;
}

.glue6 {
    -webkit-box-flex: 6;
    box-flex: 6;
}

.highlight-error {
    background-color: red;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    font-size: .8em;
    /*font-weight: bold;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1em;
    height: 16px;
    background-color: rgb(205, 205, 205);
    color: rgb(51, 51, 51);
    border: 2px solid rgba(205, 205, 205, 0.25);
    padding: 2px;
    margin: 0;
    vertical-align: middle;
    -webkit-border-radius: 0 2px 2px 2px;
    -moz-border-radius: 0 2px 2px 2px;
    border-radius: 0 2px 2px 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.uneditable-input {
    color: rgb(205, 205, 205);
    background-color: rgb(85, 85, 85);
    padding: 2px 10px 6px 10px;
    margin: 0;
    border: 0;
    vertical-align: top;
}

input.input-append {
    -webkit-border-radius: 0 0 0 2px;
    -moz-border-radius: 0 0 0 2px;
    border-radius: 0 0 0 2px;
    vertical-align: top;
    margin-top: 4px;
}

input[type="text"]:focus, input[type="text"].focus,
input[type="password"]:focus, input[type="password"].focus {
    background-color: rgb(234, 234, 234);
    border: 2px solid rgba(25, 60, 145, 0.7);
    outline: none;
}

label {
    color: rgba(234, 234, 234, 0.75);
    font-weight: bold;
}

select {
    -webkit-appearance: push-button;
    -moz-appearance: button;
    font-size: .8em;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    color: rgb(205, 205, 205);
    background-color: rgb(85, 85, 85);
    padding: 4px 10px;
    margin: 0;
    vertical-align: middle;
    -webkit-border-radius: 0 2px 2px 2px;
    -moz-border-radius: 0 2px 2px 2px;
    border-radius: 0 2px 2px 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.input {
    border-radius: 2px;
    border-top-left-radius: 0;
}

.input-addon-btn {
    font-size: 10pt;
    line-height: 16px;
    vertical-align: top;
    text-align: center;
    margin: 4px 0 0 0;
    color: rgba(205, 205, 205, 0.6);
    display: inline-block;
    width: auto;
    height: 16px;
    padding: 4px 5px;
    background-color: rgb(85, 85, 85);
    border-radius: 0 2px 2px 0;
    border-left: 1px groove rgba(234, 234, 234, 0.1);
    /*box-shadow: inset 1px 0 0 rgba(205, 205, 205, 0.25);*/
    /*box-shadow: inset -1px 1px 1px rgba(51, 51, 51, 0.75);*/
}

.input-addon-btn:hover, .input-addon-btn.hover {
    cursor: pointer;
    color: rgba(205, 205, 205, 0.8);
    background-color: rgb(64, 64, 64);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

.input-append {
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 0;
    border-radius: 0 0 0 2px;
}

.green {
    color: darkgreen;
}

.red {
    color: red;
}

.grey {
    color: rgb(234, 234, 234);
}

.hidden {
    visibility: hidden;
}

.nodisplay {
    display: none;
}

.transparent {
    opacity: 0;
}

.maximize {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.no-overflow {
    overflow: hidden;
}

.sw-button {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 2px 8px;
    /*height: 100%;*/
    font-size: .75em;
    line-height: 1.5em;
    font-weight: normal;
    color: rgba(205, 205, 205, 0.6);
    background-color: rgb(51, 51, 51);
    border: 1px groove rgba(234, 234, 234, 0.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}

.sw-button:hover, .pushed {
    color: rgba(205, 205, 205, 0.8);
    background-color: rgb(37, 37, 37);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

/*
 * ==================
 * Top navigation bar
 * ==================
 */

.navbar {
    background-color: rgb(24, 24, 24);
    border-bottom: 1px solid rgba(234, 234, 234, 0.25);
    height: 25px;
    width: 100%;
    padding-right: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.navbar h4 {
    margin-top: 2px;
}

.brand {
    display: inline-block;
}

.user-menu {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.menu-label {
    /*margin-top: 4px;*/
    padding: 0 5px 0 5px;
    /*font-size: .8em;*/
    /*line-height: 2em;*/
}

.menu-label h4 {
    display: inline-block;
    margin: 5px 5px 5px 0;
    line-height: 2em;
}

.menu-btn {
    height: 100%;
    padding: 0 10px;
    font-size: .8em;
    line-height: 1.9em;
    border-right: 1px groove rgba(234, 234, 234, 0.1);
    border-left: 1px groove rgba(234, 234, 234, 0.1);
    box-shadow: inset -1px 0 0 rgba(5, 5, 5, 0.25);
}

.menu-btn:hover, .menu-btn.hover {
    cursor: pointer;
    background-color: rgb(37, 37, 37);
    /*box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);*/
}

/*
 * ====================
 * Dropdown menu styles
 * ====================
 */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 125px;
    padding: 5px 0;
    list-style: none;
    color: rgba(205, 205, 205, 0.6);
    background-color: rgb(85, 85, 85);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
    border-radius: 3px;
    border-top-left-radius: 0;
    -webkit-margin-before: 5px;
}

.dropdown-menu li {
    width: 100%;
    margin-bottom: 1px;
}

.dropdown-menu li span {
    line-height: 1.5em;
    margin-left: 8px;
    margin-right: 8px;
}

.dropdown-menu li:hover {
    cursor: pointer;
    background-color: rgb(64, 64, 64);
    color: rgba(205, 205, 205, 0.8);
}

.open > .dropdown-menu {
    display: block;
}

.menu-left {
    right: 0;
    left: auto;
    border-radius: 3px;
    border-top-right-radius: 0;
}

.menu-left li span {
    margin-right: 8px;
}

.dropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(0, 0, 0, 0.5);
    position: absolute;
    top: -7px;
    left: 7px;
}

.dropdown-menu:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgb(85, 85, 85);
    position: absolute;
    top: -6px;
    left: 8px
}

.dropdown-menu .divider {
    height: 1px;
    background-color: rgba(51, 51, 51, 0.75);
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.menu-left:before {
    right: 6px;
    left: auto;
}

.menu-left:after {
    right: 7px;
    left: auto;
}

li.menu-section:hover {
    cursor: default;
    background-color: rgb(85, 85, 85);
    color: rgba(205, 205, 205, 0.6);
}


ul.sub-menu-item li.dropdown:hover {
    cursor: default;
}

ul.sub-menu-item li:hover ul.sub-menu {
    display: block;
    position: absolute;
    left: 100%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

ul.sub-menu-item ul.sub-menu {
    display: none;
    float: right;
    position: relative;
    top: auto;
    margin-top: -25px;
    margin-left: 6px;
}

ul.sub-menu-item ul.sub-menu:before {
    border-left: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid rgba(0, 0, 0, 0.5);
    top: 2px;
    left: -7px;
}

ul.sub-menu-item ul.sub-menu:after {
    border-left: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid rgb(85, 85, 85);
    top: 3px;
    left: -6px;
}

/*
  * ====================
  * Tab interface styles
  * ====================
  */

.tabbable:after {
    clear: both;
}

.tab-content {
    background-color: rgb(31, 31, 31);
    padding: 10px 0 5px 10px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}

.tab-below > .nav-tabs {
    /*border-top: 1px solid rgb(40, 40, 40);*/
    position: relative;
    bottom: 0;
}

.tab-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.tab-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.tab-below > .nav-tabs > li > a:hover {
    border-top-color: rgb(40, 40, 40);
    border-bottom-color: transparent;
}

.tab-below > .nav-tabs > li.active {
    background-color: rgb(31, 31, 31);
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
}

ul.nav-tabs {
    list-style: none;
}

.nav-tabs > li {
    float: left;
    text-decoration: none;
}

.nav-tabs > li > a {
    padding-right: 8px;
    padding-left: 8px;
    color: rgba(205, 205, 205, 0.5);
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
    color: rgba(205, 205, 205, 0.9);
    cursor: default;
}

/*
 * ==================
 * Home screen styles
 * ==================
 */

.home-container {
    width: 95%;
    height: 90%;
    margin: 40px auto 20px auto;
}

.home-logo {
    margin: 50px auto;
    height: 350px;
    width: 300px;
    background: url(../img/Status_Wolf2@2x.png) center no-repeat;
    background-size: 300px;
}

.home-menu {
    width: 80%;
    min-width: 1130px;
    margin: 50px auto;
    padding: 20px;
}

.home-menu-box-wrapper {
    width: 98%;
    min-width: 1108px;
    margin: 0 auto;
}

.home-menu-box {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    min-width: 200px;
    height: 200px;
    padding: 15px;
    background-color: rgba(205, 205, 205, 0.25);
    border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
}

.home-menu-item {
    font-size: 1em;
    font-weight: bold;
    line-height: 2em;
    color: rgb(205, 205, 205);
    width: 150px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(205, 205, 205, 0.25);
    border-top-right-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-bottom-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-lef-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
}

.home-menu-item:hover, .home-menu-item.hover {
    cursor: pointer;
    color: rgb(234, 234, 234);
    background-color: rgb(64, 64, 64);
}

.home-descriptions {
    width: 90%;
    margin: 30px auto 20px auto;
    text-align: center;
    font-size: .9em;
    line-height: 1.5em;
    color: rgb(205, 205, 205);
}

/*
 * ===============
 * Iconic web font
 * ===============
 */

@font-face {
    font-family: 'IconicStroke';
    src: url('../font/Iconic/iconic_stroke.otf');
    font-weight: normal;
    font-style: normal;
}

.iconic {
    display: inline-block;
    font-family: 'IconicStroke';
}

.iconic-arrow-left-alt:before {
    content: '\e013';
}

.iconic-arrow-right-alt:before {
    content: '\e015';
}

.iconic-arrow-up-alt:before {
    content: '\e014';
}

.iconic-arrow-down-alt:before {
    content: '\e016';
}

.iconic-bolt:before {
    content: '\26a1';
}

.iconic-calendar-alt:before {
    content: '\e06c';
}

.iconic-cd:before {
    content: '\e064';
}

.iconic-check-alt:before {
    content: '\2718';
}

.iconic-cog:before {
    content: '\2699';
}

.iconic-download:before {
    content: '\e042';
}

.iconic-fullscreen:before {
    content: '\e04e';
}

.iconic-fullscreen-exit:before {
    content: '\e050';
}

.iconic-home:before {
    content: '\2302';
}

.iconic-info:before {
    content: '\2139';
    color: rgb(24, 24, 24);
    background-color: rgba(205, 205, 205, .25);
    border-radius: 1px;
    margin: 0;
    padding: 0 0 2px 1px;
}

.iconic-minus-alt:before {
    content: '\e009';
}

.iconic-new-window:before {
    content: '\e059';
}

.iconic-pen-alt2:before {
    content: '\e006';
}

.iconic-play:after {
    content: '\e047';
}

.iconic-plus-alt:before {
    content: '\e008';
}

.iconic-share:before {
    content: '\e02e';
}

.iconic-target:before {
    content: '\e02a';
}

.iconic-user:before {
    content: '\e062';
}

.iconic-x:before {
    content: '\2713';
}

.iconic-x-alt:before {
    content: '\2714';
}
