.toggle-button-group {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: box;
    box-orient: horizontal;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    line-height: 1.5em;
    height: 100%;
}

.toggle-button {
    display: inline-block;
    margin: 0;
    padding: 2px;
    height: 100%;
    font-weight: normal;
    color: rgba(205, 205, 205, 0.6);
    background-color: rgb(51, 51, 51);
    border: 1px groove rgba(234, 234, 234, 0.1);
}

.toggle-button:hover, .toggle-button.toggle-on {
    color: rgba(205, 205, 205, 0.8);
    background-color: rgb(37, 37, 37);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

.toggle-button-group > .toggle-button:first-child {
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-left-radius: 2px;
}

.toggle-button-group > .toggle-button:last-child {
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 2px;
}

.toggle-button label span {
    padding: 0 10px;
    text-align: center;
    font-weight: normal;
    display: block;
    cursor: pointer;
}

.toggle-button label input {
    position: absolute;
    top: -20px;
    display: none;
}
