.flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.widget-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
    padding: 0;
    /*width: 48%;*/
    height: 350px;
    margin: 5px 10px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.widget-container.cols-1 {
    width: 100%;
    height: 100%;
}

.widget-container.cols-2 {
    width: 48%;
}

.widget-container.cols-3 {
    width: 31%;
}

.widget {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    color: rgba(205, 205, 205, .6);
    height: 100%;
    width: 99.9%;
}

.widget-front, .widget-back {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(24, 24, 24);
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.widget-front {
    z-index: 2;
}

.graphdiv .tooltip-inner {
    font-size: 0.6em;
    font-weight: bold;
}

.widget-title {
    border-bottom: 1px solid rgba(205, 205, 205, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    border-top-right-radius: 3px;
    height: 35px;
    z-index: 999;
}

.widget-title-head {
    display: inline-block;
    height: 100%;
    position: relative;
}

.widget-title h4 {
    margin: 0 10px;
    vertical-align: top;
    font-size: .8em;
    height: 100%;
    display: inline-block;
    -webkit-margin-before: 0;
    line-height: 3.0em;
}

.widget-title #legend-hover {
    display: inline-block;
    height: 100%;
    margin-right: 15px;
    overflow: hidden;
    vertical-align: bottom;
    font-size: .8em;
    line-height: 2.5em;
    color: rgba(205, 205, 205, .75);
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    -webkit-box-flex: 6;
}

.widget-title-button {
    display: inline-block;
    height: 100%;
    padding: 0 10px;
    font-size: .8em;
    line-height: 2.75em;
    vertical-align: bottom;
    border-right: 1px solid rgba(234, 234, 234, 0.1);
    border-left: 1px solid rgba(234, 234, 234, 0.1);
}

.widget-title-button:hover, .widget-title-button.hover,
.widget-footer-button:hover, .widget-footer-button.hover {
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
}

.widget-title-dropdown {
    display: inline-block;
    height: 100%;
}

.widget-title-dropdown span {
    display: inline-block;
}

.widget-title-dropdown li {
    font-size: 0.8em;
}

.widget-title-dropdown.saved-searches-menu {
    min-width: 129px;
    vertical-align: top;
}

.widget-title > input {
    margin-left: 10px;
    position: relative;
    top: -5px;
    vertical-align: bottom;
}

.search-title {
    overflow: hidden;
    margin-left: 10px;
    color: rgba(205, 205, 205, 0.6);
    display: inline-block;
    width: auto;
}

.search-title-prompt {
    color: rgba(205, 205, 205, 0.25);
}

.close-widget {
    display: inline-block;
    position: absolute;
    margin: 2px 5px;
    top: 0;
    right: 0;
    font-size: .65em;
    cursor: pointer;
}

.action-widget {
    display: inline-block;
    position: absolute;
    margin: 2px 5px;
    top: 0;
    left: 0;
    font-size: .75em;
    cursor: pointer;
}

.action-widget .dropdown-menu {
    left: -9px;
}

/*.close-widget .iconic, .action-widget .iconic {*/
    /*font-size: .75em;*/
/*}*/

.close-widget:hover, .action-widget:hover {
    color: rgba(205, 205, 205, .8);
}

.widget-footer {
    border-top: 1px solid rgba(205, 205, 205, 0.1);
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    height: 25px;
    z-index: 999;
}

.widget-footer-button {
    display: inline-block;
    height: 100%;
    padding: 0 10px;
    font-size: .8em;
    line-height: 1.75em;
    border-right: 1px solid rgba(234, 234, 234, 0.1);
    border-left: 1px solid rgba(234, 234, 234, 0.1);
}

.widget-title, .widget-footer {
    background-color: rgb(40, 40, 40);
    width: 100%;
}

.widget-main {
    width: 100%;
    height: 88%;
    position: absolute;
    left: 0;
    padding: 0;
}

.widget-back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    overflow: hidden;
}

.widget-back .widget-main {
    top: 35px;
    overflow: hidden;
}

.widget-main.back {
    overflow: auto;
    min-width: 720px;
}

.widget-back .widget-title-head h4 {
    line-height: 0;
}

.widget-button-label {
    padding-right: 5px;
    -webkit-box-flex: 1;
    box-flex: 1;
}

.maximize-widget {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 9999;
}

.left-button {
    border-left: none;
}

.right-button {
    border-right: none;
}

.widget-footer-button.left-button, .widget-footer-button.left-button:hover {
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
}

.widget-footer-button.right-button, .widget-footer-button.right-button:hover {
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
}

.widget-title-button.left-button, .widget-title-button.left-button:hover {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
}

.widget-title-button.right-button, .widget-title-button.right-button:hover {
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
}

.general-options-table {
    width: 99%;
    margin-top: 15px;
    border-spacing: 25px;
}

.tab-table {
    width: 99%;
    margin-top: 5px;
    border-spacing: 5px;
}

.tab-table div.menu-label h4 {
    margin: 10px 5px 0 0;
}

div.metric-input-tabs.tab-below > ul.nav-tabs > li {
    margin-bottom: 30px;
}

.datasource-menu {
    position: absolute;
    top: 0;
    right: 0;
}

.go-button {
    position: absolute;
    top: 0;
    right: 0;
}

/*.graph-title {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 99%;*/
    /*height: 99%;*/
/*}*/

.graph-title {
    color: rgba(205, 205, 205, 0.5);
    font-size: 2.5em;
}

.graphdiv {
    position: relative;
    top: 15px;
    left: 0;
}

.legend-hide, .legend-show {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    width: 20px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    padding: 0 0 18px 10px;
    color: rgba(205, 205, 205, 0.25);
}

.legend-show {
    top: -14px;
}

.legend-hide:hover, .legend-hide:focus,
.legend-show:hover, .legend-show:focus {
    color: rgba(205, 205, 205, 1);
}

.legend-hide:active, .legend-show:active {
    color: rgb(234, 234, 234);
}

button.legend-hide, button.legend-show {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    padding: 0;
    z-index: 506;
}

.hidden-legend {
    height: 0;
    padding: 0;
    overflow: visible;
}
