/* line 1, ../sass/adhoc.scss */
.adhoc-container {
  height: 90%;
}

/* line 5, ../sass/adhoc.scss */
.widget-container.opentsdb-widget.adhoc-widget {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  z-index: 2000;
}
