@import 'colors_dark';
@import 'mixins';

.adhoc-container {
    height: 90%;
}

.widget-container.opentsdb-widget.adhoc-widget {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 2000;
}

#search-list-popup {
    min-width: 900px;
    min-height: 600px;
    table {
        margin-right: 20px;
        border-spacing: 0;
        td {
            padding: 3px 5px;
        }
        th {
            font-size: 1em;
            padding: 5px;
        }
        tr.search-item:hover {
            background-color: $popup_mfp_bg;
            cursor: pointer;
        }
    }
    .saved-search-box {
        display: inline-block;
        vertical-align: top;
    }
    .saved-search-list {
        line-height: 2em;
        min-width: 400px;
        overflow: auto;
        vertical-align: top;
        white-space: nowrap;
    }
}

#save-search-popup {
    h5 {
        display: inline-block;
    }
    .save-search-form-buttons {
        margin-top: 15px;
    }
    .popup-form-data {
        margin-left: 0;
        display: inline-block;
    }
    #public-search-button,
    #save-search-times-button {
        display: inline-block;
        margin-left: 10px;
    }
    #save-search-info {
        margin: 0 20px;
        font-size: 0.8em;
        max-width: 550px;
        li {
            margin-bottom: 15px;
        }
    }
}

#confirm-save-search-popup {
    #confirmation-main {
        #confirmation-info {
            #save-new-title-prompt {
                margin-top: 15px;
            }
        }
        #confirmation-buttons {
            margin-top: 15px;
        }
    }
}

li#change-datasource-menu-item {
    white-space: nowrap;
}