.graph-widget-search-form {
    padding-left: 10px;
    font-size: 0.8em;
    position: relative;
    height: 100%;
}

.graph-widget-form-row {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    margin: 0 0 20px 0;
    width: 100%;
    position: relative;
}
.graph-widget-form-row.row1 {
    padding-top: 20px;
}

.graph-widget-form-row.row3 {
    margin-bottom: 0;
    position: relative;
}

.graph-widget-form-row.row3 > .tabbable {
    height: 100%;
}

.graph-widget-form-item {
    display: inline-block;
    height: 100%;
    margin-right: 15px;
    padding: 2px 0;
}

.graph-widget-form-item h4 {
    font-size: .8em;
}

.graph-widget-button {
    display: inline-block;
    font-size: .8em;
    line-height: 1.8em;
    text-align: right;
    height: 18px;
    margin-top: 2px;
    padding: 2px 10px;
    min-width: 50px;
    background-color: rgb(51, 51, 51);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px groove rgba(234, 234, 234, 0.1);
}

.graph-widget-button:hover {
    cursor: pointer;
    background-color: rgb(37, 37, 37);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

.graph-widget-button span:first-child {
    -webkit-box-flex: 1;
}

.graph-widget-button-label {
    padding-right: 5px;
    display: inline-block;
}

.history-toggle {
    margin-left: 20px;
}

.push-button span.iconic {
    margin-left: 3px;
}

.push-button label span {
    padding: 0 3px 0 3px;
}

.toggle-button label span{
    padding-top: 1px;
    padding-bottom: 2px;
}

.section-off {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
    transition: visibility 0s linear 0.25s, opacity 0.25s linear;
}

.section-on {
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0s linear, opacity 0.25s linear;
    transition: visibility 0s linear, opacity 0.25s linear;
}

[data-name="start-time"], [data-name="end-time"] {
    -webkit-box-flex: 2;
}

.graph-widget-dates, .graph-widget-time-span {
    position: absolute;
    top: 0;
    margin-top: 5px;
}

.widget-title {
    height: 30px;
}

.widget-title-button {
    line-height: 2.35em;
}

.widget-main {
    top: 0;
}

.metric-input-textbox {
    width: 100%;
}

.metric-autocomplete {
    width: 95%;
}

.tab-pane-row {
    margin-bottom: 10px;
}

ul.nav-tabs {
    margin: 0;
}

.autocomplete-suggestion {
    overflow: hidden;
}

.autocomplete-suggestion {
    margin-bottom: 1px;
    font-size: .8em;
    line-height: 1.5em;
    padding-left: 8px;
}

.dropdown-menu.saved-searches-options,
.dropdown-menu.widget-action-options {
    min-width: 300px;
}

.autocomplete-suggestion:hover {
    cursor: pointer;
    background-color: rgb(64, 64, 64);
    color: rgba(205, 205, 205, 0.8);
}

.autocomplete-selected {
    background-color: rgb(64, 64, 64);
    color: rgba(205, 205, 205, 0.8);
}

.bowlG {
    padding-top: 20%;
}

.legend-hover {
    height: 100%;
    overflow: hidden;
    font-size: .8em;
    line-height: 2.5em;
    color: rgba(205, 205, 205, 0.75);
    padding: 0px 20px;
}

.legend-hover span {
    margin-left: 15px;
}

.dropdown-arrow-container {
    display: inline-block;
}

.tab-table .push-button {
    height: 18px;
    line-height: 2em;
}

.legend-container {
    position: absolute;
    bottom: 0;
    height: 50px;
    overflow: auto;
    font-size: .75em;
    line-height: 1.2em;
    color: rgba(205, 205, 205, .75);
    background-color: rgba(51, 51, 51, 0.25);
    border-top: 1px solid rgb(51, 51, 51);
    padding: 10px 0 0 0;
    margin-top: 15px;
}

.legend {
    position: relative;
    top: 0;
    width: 95%;
    margin: 0 auto;
}

.legend > span {
    display: block;
}
