{% autoescape 'js' %}
'<div class="dashboard-menu menubar-button dropdown" id="dashboard-menu">' +
'    <span id="dashboard-menu-content" data-toggle="dropdown">' +
'        <span class="menu-label" id="dashboard-menu-label">Options</span>' +
'        <span class="elegant-icons arrow-triangle-down"></span>' +
'    </span>' +
'    <ul class="dropdown-menu sub-menu-item" id="dashboard-menu-options" role="menu" aria-labelledby="dLabel">' +
'        <li id="clear-dashboard-menu-choice">' +
'            <span>Clear</span>' +
'        </li>' +
'        <li class="dropdown" id="add-widget-menu-item">' +
'            <div class="menu-arrow-wrapper">' +
'                <span>Add Widget</span>' +
'                <span class="elegant-icons arrow-triangle-right sub-menu-arrow"></span>' +
'            </div>' +
'            <ul class="dropdown-menu sub-menu" id="add-widget-menu-options"></ul>' +
'        </li>' +
'        <li class="dropdown" id="load-dashboard-menu-item">' +
'            <div class="menu-arrow-wrapper">' +
'                <span>Load Dashboard</span>' +
'                <span class="elegant-icons arrow-triangle-right sub-menu-arrow"></span>' +
'            </div>' +
'            <ul class="dropdown-menu sub-menu" id="load-dashboard-menu-options"></ul>' +
'        </li>' +
'        <li id="save-dashboard-menu-choice">' +
'            <span>Save Dashboard</span>' +
'        </li>' +
'    </ul>' +
'</div>'
{% endautoescape %}