		<div class="menubar">
			<div class="sw-app-label">
                <h4 id="statuswolf-menu-content">StatusWolf</h4>
                <span class="sw-version">{{ app.version }}</span>
            </div>
            <div id="menu-placeholder"></div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="login-button menubar-button" id="logout-button">
                <span class="elegant-icons icon-profile"></span>
                <span class="font-reset menu-label">{{ fullname }} - </span>
                <span id="login-function">Logout</span>
            {% else %}
            <div class="login-button menubar-button" id="login-button">
                <span id="login-function">Login</span>
            {% endif %}
			</div>
		</div>
